---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="404 Madrid4Tech | IMMUNE Technology Institute"
  description="V edición del evento Madrid4Tech organizado por IMMUNE Technology Institute para unir empresas y profesionales de la tecnología."
  keywords="immune, evento, tecnología, madridfortech, madrid, technology"
  canonical="https://madridfortech.com/"
  robots="nofollow, noindex"
  img="https://madridfortech.com/share.webp"
>
  <div class="min-h-dvh flex items-center justify-center flex-col">
    <h1>Esta página no existe, error 404.</h1>
    <a href="/">Volver a Madridfortech</a>
  </div>
</Layout>
