<p id="countdown" class="text-3xl">
  <span id="days"></span>
  <span id="hours"></span>
  <span id="minutes"></span>
  <span id="seconds"></span>
</p>

<script is:inline>
  function updateCountdown() {
    // Establece la fecha objetivo.
    const now = new Date();
    // Mes (empieza en 0), día, hora, min
    const targetDate = new Date(now.getFullYear(), 9, 9, 10, 0);

    // Calcula la diferencia en milisegundos
    const diff = targetDate - now;

    // Convierte la diferencia en días, horas, minutos y segundos
    const days = Math.floor(diff / (1000 * 60 * 60 * 24));
    const hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((diff % (1000 * 60)) / 1000);

    // Actualiza el HTML
    document.getElementById("days").innerHTML = days + "d : ";
    document.getElementById("hours").innerHTML = hours + "h : ";
    document.getElementById("minutes").innerHTML = minutes + "m : ";
    document.getElementById("seconds").innerHTML = seconds + "s";

    // Si el contador llega a 0, mostrar mensaje
    if (diff < 0) {
      clearInterval(interval);
      document.getElementById("countdown").innerHTML =
        '';
    }
  }

  // Actualiza el contador cada segundo
  const interval = setInterval(updateCountdown, 1000);

  // Llama a la función inmediatamente para iniciar el contador
  updateCountdown();
</script>
