<div>
  <script
    is:inline
    charset="utf-8"
    type="text/javascript"
    src="//js.hsforms.net/forms/embed/v2.js"></script>
  <script is:inline>
    hbspt.forms.create({
      region: "na1",
      portalId: "6604339",
      formId: "46e6e2c5-8d92-4b9b-a5fc-268452e67902",
    });
  </script>
</div>

<style>
  div :global(.hbspt-form, form) {
    @apply h-dvh;
  }

  div :global(.hbspt-form) {
    @apply bg-neutral-800/25 backdrop-blur-2xl p-5 accent-primary-400 flex flex-col justify-center;
  }

  div :global(fieldset) {
    max-width: 100% !important;
    margin-bottom: 1em !important;
  }

  div
    :global(
      label:not(.hs-form-checkbox-display, .hs-form-booleancheckbox-display)
    ) {
    @apply text-sm opacity-75;
  }

  div :global(input:not([type="checkbox"], .hs-button), select) {
    @apply bg-transparent border border-neutral-50/25 h-10 px-2;
  }

  div :global(.input > .hs-input) {
    width: 100% !important;
  }

  div :global(select) {
    @apply appearance-none;
  }

  div :global(input[type="checkbox"]) {
    @apply me-1;
  }

  div :global(option) {
    color: initial;
  }

  div :global(ul) {
    @apply flex flex-wrap items-center gap-x-4 gap-y-2;
  }

  div :global(a) {
    @apply underline;
  }

  div :global(.hs-button) {
    @apply border border-neutral-50/25 py-2 px-4 cursor-pointer;
  }

  div :global(.submitted-message) {
    @apply w-full h-full flex items-center justify-center text-center;
  }
</style>
