<div>
  <script
    is:inline
    charset="utf-8"
    type="text/javascript"
    src="//js.hsforms.net/forms/embed/v2.js"></script>
  <script is:inline>
    hbspt.forms.create({
      region: "na1",
      portalId: "6604339",
      formId: "46e6e2c5-8d92-4b9b-a5fc-268452e67902",
    });
  </script>
</div>
