<nav
  class="bg-primary-400 p-2 text-white flex md:justify-center gap-4 sticky bottom-0 z-40 overflow-x-auto"
>
  <a href="#ponentes">Ponentes</a>
  <a href="#empresas">Empresas</a>
  <a href="#agenda">Agenda</a>
  <a href="#talleres">Talleres</a>
  <a href="#">¡Apúntate!</a>
</nav>
