<nav class="bg-primary-400 p-2 text-white flex justify-center gap-4 sticky bottom-0 z-40">
    <a href="#ponentes" class="no-underline">Ponentes</a>
    <a href="#empresas" class="no-underline">Empresas</a>
    <a href="#agenda" class="no-underline">Agenda</a>
    <a href="#" class="no-underline">¡Apúntate!</a>
</nav>