---
import data from "../data/data.json";
import Badge from "../components/Badge.astro";
import Countdown from "../components/Countdown.astro";
import CalendarEvent from "../components/icons/CalendarEvent.astro";
import ImmuneLogo from "../components/ImmuneLogo.astro";
import LogoWhite from "../components/LogoWhite.astro";
import Video from "../components/Video.astro";
import Clock from "../components/icons/Clock.astro";
import MapPin from "../components/icons/MapPin.astro";
---

<main class="min-h-dvh relative overflow-hidden z-50">
  <div
    class="min-h-dvh p-8 flex flex-col items-center justify-between gap-8 text-center"
  >
    <ImmuneLogo />

    <div class="flex flex-col items-center gap-4">
      <LogoWhite />

      <h1 class="text-xl">
        <span class="hidden">Madridfortech</span> vuelve en su <strong
          >{data.edition} EDICIÓN</strong
        > de encuentro de talento tecnológico
      </h1>
      <Countdown />
    </div>

    <img
      src="/assets/logos/qr.svg"
      alt=""
      height="240"
      width="240"
      loading="lazy"
    />

    <footer>
      <p class="text-xl flex gap-1 flex-wrap justify-center mb-4">
        <Badge text={data.date}>
          <CalendarEvent slot="icon" />
        </Badge>
        <Badge text="10:00h. (CET)">
          <Clock slot="icon" />
        </Badge>
      </p>
      <p class="my-4">Conéctate online o ven al campus</p>
    </footer>
  </div>

  <Video />
</main>
