---
import Section from "./Section.astro";
---

<Section light>
  <img
    src="/assets/images/campus.webp"
    alt="Campus IMMUNE"
    width="1280"
    height="512"
    loading="lazy"
    class="h-auto"
  />
</Section>
