<footer class="p-4 text-center">
  <nav class="flex flex-col md:flex-row justify-center gap-4">
    <a href="https://immune.institute/aviso-legal">Aviso legal</a>
    <a href="https://immune.institute/politica-de-privacidad">Política de privacidad</a>
    <a href="https://immune.institute/politica-de-cookies/">Uso de cookies</a>
  </nav>
</footer>
