<div class="grid grid-cols-2 lg:grid-cols-4 gap-1 p-1">
  <img
    src="/assets/images/m4t-1.webp"
    alt=""
    height="377"
    width="610"
    loading="lazy"
  />
  <img
    src="/assets/images/m4t-2.webp"
    alt=""
    height="377"
    width="610"
    loading="lazy"
  />
  <img
    src="/assets/images/m4t-3.webp"
    alt=""
    height="377"
    width="610"
    loading="lazy"
  />
  <img
    src="/assets/images/m4t-4.webp"
    alt=""
    height="377"
    width="610"
    loading="lazy"
  />
  <img
    src="/assets/images/m4t-5.webp"
    alt=""
    height="377"
    width="610"
    loading="lazy"
  />
  <img
    src="/assets/images/m4t-6.webp"
    alt=""
    height="377"
    width="610"
    loading="lazy"
  />
  <img
    src="/assets/images/m4t-7.webp"
    alt=""
    height="377"
    width="610"
    loading="lazy"
  />
  <img
    src="/assets/images/m4t-8.webp"
    alt=""
    height="377"
    width="610"
    loading="lazy"
  />
</div>
