---
import data from "../data/data.json";
import Badge from "../components/Badge.astro";
import EventButton from "../components/EventButton.astro";
import Form from "../components/Form.astro";
import CalendarEvent from "../components/icons/CalendarEvent.astro";
import Clock from "../components/icons/Clock.astro";
import MapPin from "../components/icons/MapPin.astro";
import ImmuneLogo from "../components/ImmuneLogo.astro";
import LogoWhite from "../components/LogoWhite.astro";
import Video from "../components/Video.astro";
import Countdown from "../components/Countdown.astro";
---

<main
  class="min-h-dvh relative overflow-hidden lg:grid lg:grid-cols-[1fr_521px] bg-neutral-950 z-50"
>
  <div
    class="min-h-[90dvh] lg:h-full p-8 flex flex-col items-center justify-between gap-8 text-center"
  >
    <ImmuneLogo />

    <div class="flex flex-col items-center gap-4">
      <LogoWhite />

      <h1 class="text-2xl">
        <span class="hidden">Madridfortech</span> vuelve en su <strong
          >{data.edition} EDICIÓN</strong
        > de encuentro de talento tecnológico
      </h1>

      <p class="text-xl flex gap-1 flex-wrap justify-center">
        <Badge text={data.date}>
          <CalendarEvent slot="icon" />
        </Badge>
        <Badge text="10:00h. (CET)">
          <Clock slot="icon" />
        </Badge>
        <Badge text="Paseo de la Castellana, 89 / Online">
          <MapPin slot="icon" />
        </Badge>
      </p>
    </div>

    <footer>
      <Countdown />
    </footer>
  </div>

  <Form />

  <Video />
</main>
