---
import data from "../data/data.json";
import Badge from "../components/Badge.astro";
import Countdown from "../components/Countdown.astro";
import EventButton from "../components/EventButton.astro";
import Form from "../components/Form.astro";
import CalendarEvent from "../components/icons/CalendarEvent.astro";
import ImmuneLogo from "../components/ImmuneLogo.astro";
import LogoWhite from "../components/LogoWhite.astro";
import Video from "../components/Video.astro";
import Clock from "../components/icons/Clock.astro";
import MapPin from "../components/icons/MapPin.astro";
---

<main
  class="min-h-dvh relative overflow-hidden lg:grid lg:grid-cols-[1fr_466px] z-50"
>
  <div
    class="min-h-dvh p-8 flex flex-col items-center justify-between gap-8 text-center"
  >
    <ImmuneLogo />

    <div class="flex flex-col items-center gap-4">
      <LogoWhite />

      <h1 class="text-xl">
        <span class="hidden">Madridfortech</span> vuelve en su <strong
          >V EDICIÓN</strong
        > de encuentro de talento tecnológico
      </h1>

      <p class="text-xl flex gap-1 flex-wrap justify-center">
        <Badge text={data.date}>
          <CalendarEvent slot="icon" />
        </Badge>
        <Badge text="10:00h. (CET)">
          <Clock slot="icon" />
        </Badge>
        <Badge text="Paseo de la castellana, 89 / Online">
          <MapPin slot="icon" />
        </Badge>
      </p>
    </div>

    <footer>
      <Countdown />
      <p class="my-4">
        Conéctate online o ven a nuestro campus en <a
          href="https://www.google.es/maps/place/IMMUNE+Technology+Institute/@40.4496289,-3.6945551,17z/data=!3m2!4b1!5s0xd4228e343d1ae51:0xdff3b6df8b3f856a!4m6!3m5!1s0xd4229189dbac4db:0x5400e56fb9abf5b1!8m2!3d40.4496248!4d-3.6919802!16s%2Fg%2F11h6g486xb?hl=es&entry=ttu&g_ep=EgoyMDI0MDkwMy4wIKXMDSoASAFQAw%3D%3D"
          target="_blank">P.º de la Castellana, 89, Tetuán, 28046 Madrid</a
        >
      </p>

      <div class="flex justify-center gap-1 flex-wrap">
        <h2>
          <Badge text="Te esperamos el 9 de octubre del 2024" red />
        </h2>

        <EventButton />
      </div>
    </footer>
  </div>

  <Form />

  <Video />
</main>
