---
import Title from "../components/Title.astro";

interface Props {
  id?: string;
  light?: boolean;
  t1?: string;
  t2?: string;
  class?: string;
}

const { id, light, t1, t2, class: className, ...rest } = Astro.props;
---

<section
  id={id}
  class:list={[
    "py-20",
    {
      "bg-neutral-50 text-neutral-950 border-t border-t-neutral-200": light,
    },
    className,
  ]}
  {...rest}
>
  <div class="container">
    {t1 && <Title t1={t1} t2={t2} />}
    <slot />
  </div>
</section>

<style>
  .bg-neutral-50 :global(h2) {
    @apply text-primary-400;
  }
</style>
