---
import Section from "./Section.astro";
---

<Section id="talleres" t1="Talleres" t2="de tarde">
    <div class="grid gap-10 lg:grid-cols-2">
        <div>Talleres</div>
        <span>Form</span>
    </div>
</Section>