---
import Section from "./Section.astro";
---

<Section
  id="talleres"
  t1="Cómo renovar el reclutamiento en UX:"
  t2="40 Ideas para un cambio real"
  class="bg-neutral-100 text-neutral-700 border-t border-t-violet-600"
>
  <div class="grid gap-10 lg:grid-cols-2">
    <div class="border border-violet-600 p-5 flex flex-col">
      <h3 class="mb-4 text-xl font-bold text-violet-600">
        Raúl Marín y Víctor González
      </h3>
      <p class="mb-10">
        La idea es construir un sistema más justo, efectivo y centrado en el
        verdadero talento del diseño.
      </p>
      <div class="mt-auto flex items-center gap-4">
        <img
          src="https://publicimmuneassets.s3.eu-west-1.amazonaws.com/logos/immune-logo.svg"
          alt="AWS"
          loading="lazy"
          width="144"
          height="40"
        />
        <img
          src="https://publicimmuneassets.s3.eu-west-1.amazonaws.com/logos/entain-logo.svg"
          alt="AWS"
          loading="lazy"
          width="123"
          height="40"
        />
      </div>
    </div>
    <div>
      <p class="mb-4">
        La ponencia "Cómo renovar el reclutamiento en UX: 40 Ideas para un
        cambio real", de Raúl Marín (Head Teacher y Director del área de UX/UI
        Design en IMMUNE Technology Institute) y Víctor González (Senior UX/UI
        Designer y Design Ops en Entain), será un espacio donde debatiremos
        sobre cómo mejorar el proceso de selección en el mundo del diseño UX/UI.
      </p>
      <p class="mb-4">
        Con nuestra experiencia y vivencias del día a día, compartiremos 40
        ideas prácticas que buscan solucionar las frustraciones tanto de quienes
        buscan trabajo como de quienes reclutan.
      </p>
    </div>
  </div>
</Section>
