---
import Section from "./Section.astro";
---

<Section
  id="talleres"
  t1="Experimentado con IA generativa"
  t2="Partyrock"
  class="bg-neutral-100 text-neutral-700 border-t border-t-orange-400"
>
  <div class="grid gap-10 lg:grid-cols-2">
    <div class="border border-orange-400 p-5 flex flex-col">
      <h3 class="mb-4 text-xl font-bold text-orange-400">
        Guillermo Ruiz, Senior Developer Advocate en AWS
      </h3>
      <p class="mb-4">
        Este workshop de IA generativa te permitirá desarrollar una aplicación
        con Partyrock de AWS en menos de 2 horas.
      </p>
      <img
        src="https://publicimmuneassets.s3.eu-west-1.amazonaws.com/logos/aws-logo.svg"
        alt="AWS"
        loading="lazy"
        width="89"
        height="40"
        class="mt-auto"
      />
    </div>
    <div>
      <p class="mb-4">
        Los asistentes tendrán la oportunidad de sumergirse en el fascinante
        mundo de la inteligencia artificial generativa, explorando sus
        capacidades y potencial bajo la guía experta de Guillermo Ruiz, Senior
        Developer Advocate de AWS.
      </p>
      <p class="mb-4">
        Utilizando Partyrock de AWS, los participantes aprenderán a diseñar y
        construir una aplicación que aproveche las ventajas de la IA generativa.
        A través de una combinación de una presentación de PartyRock, una
        demostración práctica y tiempo para ponerlo en práctica, los asistentes
        podrán dar vida a sus ideas y crear aplicaciones innovadoras.
      </p>
      <p class="mb-4">
        El workshop brindará una plataforma única para que los participantes
        experimenten de primera mano con esta tecnología emergente y la lleven a
        la práctica en un entorno de aprendizaje colaborativo y enriquecedor.
      </p>
    </div>
  </div>
</Section>
